.SeachOverviewEntry {
  position: absolute;
  box-sizing: border-box;
  top: 5px;
  bottom: 5px;
  height: auto;
  left: 5px;
  width: $searchFiltersOverviewWidth;
  background: $gray1;
  font-weight: bold;
  color: $brownDark;
  border-radius: 20px;
  line-height: 30px;
  padding: 0 10px;
}

.SeachOverviewEntry__reset-button {
  float: right;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: -1px;
  right: 2px;
  outline: 0;
  border: 0;
  color: $brownDark;
  transform-origin: center center;
  transform: scale(0.7);
  transition: transform 0.2s ease-in-out;
  &:before {
    font-weight: bold;
    content: '✕';
  }
  &:hover {
    transform: scale(1.3);
  }
}
