@import "../../stylesheets/variables.json";
@import "../../stylesheets/mixins";

$searchIconWidth: 40px;

.Search {

}

.Search__label {
  header {
    margin-bottom: 6px;
    @include styled-section-header;
  }
}

.SearchTooltip {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: $midBlack;
  color: white;
  padding: 5px;
  letter-spacing: 0;
  @include soft-shadow;
  &.active {
    opacity: 1;
  }
}

.SearchInput {
  display: inline-block;
  position: relative;
  width: 100%;
  @include soft-shadow;
  input {
    width: calc(100% - #{$searchIconWidth});
    box-sizing: border-box;
    height: $searchIconWidth;
    border: $borderDefaultWidth solid white;
    border-right: 0;
    font-size: 16px;
    padding: 0 5px;
    transition: border 0.2s ease-in-out;
    &:focus {
      outline: 0;
      border: $borderDefaultWidth solid $lightBlue;
      border-right: 0;
    }
  }
  button:not(.SearchInput__filters-overview__reset-button) {
    width: $searchIconWidth;
    height: $searchIconWidth;
    background-color: $orangeRegular;
    text-align: center;
    vertical-align: top;
    border: 0;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $lightBlue;
      outline: 0;
    }
  }
  i {
    color: white;
  }
}

.CategoriesFilterOverview__container {
  position: absolute;
  top: $borderDefaultWidth;
  bottom: $borderDefaultWidth;
  width: 80%;
  cursor: text;
  box-shadow: inset -20px 0 20px -20px white;
}

.CategoriesFilterOverview__wrapper {
  width: 100%;
  overflow: auto;
}

.SearchOverviewCategory {
  position: absolute;
  top: $searchIconWidth / 2;
  transform: translateY(-50%);
}
